@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="radio"] + label,
  input[type="radio"] + span {
    @apply text-blue-600 bg-blue-100;
  }
}

@layer components {
  .btn {
    @apply inline-block py-2 px-4 mx-1 my-1.5 font-bold cursor-pointer border uppercase rounded-md text-sm transition-all duration-200;
  }

  .btn--accept-filled {
    @apply text-white bg-green-500 border-green-500 hover:bg-green-600;
  }
  .btn--accept-filled {
    @apply text-white bg-red-500 border-red-500 hover:bg-red-600;
  }

  .btn--accept-outlined {
    @apply text-green-400 border-green-400 hover:bg-green-400 hover:text-white;
  }

  .btn--reject-outlined {
    @apply text-red-400 border-red-400 hover:bg-red-400 hover:text-white;
  }
  .btn--info-outlined {
    @apply text-blue-400 border-blue-400 hover:bg-blue-400 hover:text-white;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
