@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='radio']:checked + label,
  input[type='radio']:checked + span {
    @apply text-blue-600 bg-blue-100;
  }
}

@layer components {
  .app-container {
    @apply w-full lg:h-full grid lg:grid-cols-12 gap-4 lg:p-4;
  }
  .btn {
    @apply inline-block w-full py-2 px-4 mx-1 my-1.5 font-bold cursor-pointer border uppercase rounded-md text-sm transition-all duration-200;
  }

  .btn--confirm {
    @apply text-blue-500 bg-blue-100 hover:bg-blue-500 hover:text-white border border-blue-500;
  }

  .btn--reject {
    @apply text-red-500 bg-red-100 hover:bg-red-500 hover:text-white border border-red-500;
  }

  .btn--edit {
    @apply text-yellow-500 bg-yellow-100 hover:bg-yellow-400 hover:text-white border-yellow-400;
  }

  .scrollable {
    @apply max-h-full overflow-auto;
  }
}

@layer utilities {
  .dropdown {
    top: calc(100% + 0.25rem);
    width: 100%;
    z-index: 9999;
    overflow-y: auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .dropdown-scroll {
    height: 200px;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .min-height-course {
    min-height: 7.5rem;
  }

  @media screen and (min-width: 1024px) {
    .min-height-course {
      min-height: 6rem;
    }
  }
}
